.test {
    height: 2000px;
    /* background-color: aqua; */
}

body {

    background: rgb(0,204,255);
    background: linear-gradient(0deg, rgba(0,204,255,1) 0%, rgba(9,93,121,1) 35%, rgba(2,0,36,1) 100%);
}

.counter-wrapper {
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    bottom: 0;
}

.sticky {
    position: relative;
    top: 450px;

}

.sticky-footer {
    text-align: center;
    position: relative;
    bottom: 0;
    
}

.ground {
    position: absolute;
}

.tree [
    
]